.idea/
target/
*.class
*.iml
*.ipr
*.iws
.idea
out
data/
tags
.*.swp
.*.swo
build
.classpath
.project
.settings
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml`
.DS_Store
private/